@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

:root {
  --background-light: #dedbd2;
  --background: #b0c4b1;
  --primary-light: #f7e1d7;
  --primary: #edafb8;
  --primary-dark: #4a5759;
}

html,
body {
  margin: 0px;
}

.App {
  text-align: center;
  background-color: var(--background-light);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-dark);
  padding: 2rem;
}

.app__subtitle {
  font-size: 1.2rem;
  color: var(--primary);
  padding: 1rem;
}

.pnl__items {
  text-align: center;
  margin: 0.5rem;
}

.pnl__inputname {
  width: 90%;
  max-width: 300px;
  height: 60px;
  font-size: 1.5rem;
  padding: 10px 40px;
  border-radius: 12px;
  text-align: center;
  border: none;
}

.pnl__input {
  box-shadow: inset 0px 0px 6px #6a6a6a;
}

.pnl__submit {
  background: var(--background);
  height: 60px;
  margin-top: 2rem;
  width: 90%;
  max-width: 380px;
  box-shadow: 0px 0px 6px #6a6a6a;
}

.app__resultlabel {
  color: var(--primary-dark);
  padding-top: 2rem;
  max-width: 90%;
  font-size: 1.5rem;
  color: red;
}

.greenres {
  color: green;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-dark);
  color: white;
  text-align: center;
  font-size: 1rem;
}

a {
  text-decoration: underline;
  color: white;
}
